<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngpain.dao.UserMapper">

    <!--添加用户-->
    <insert id="insertUser" parameterType="com.youngpain.bean.User">
        INSERT INTO user (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <!--根据用户名查询该用户是否存在，如果存在则不能注册-->
    <select id="getUserByUsername" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM user
        WHERE username = #{username}
    </select>

    <!--根据用户名和密码查询该用户是否存在-->
    <select id="getUser" parameterType="com.youngpain.bean.User" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM user
        WHERE username = #{username}
          AND password = #{password}
    </select>

</mapper>